In [1]:
import requests
from bs4 import BeautifulSoup

import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
response = requests.get(url)

In [4]:
soup = BeautifulSoup(response.text,'lxml')

In [5]:
table = soup.find('table', attrs={'class':'wikitable'})

In [6]:
table_rows = table.find_all('tr')

In [7]:
res = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        res.append(row)
df = pd.DataFrame(res, columns=["Postcode", "Borough", "Neighbourhood"])

In [8]:
df2 = df[df['Borough'] != 'Not assigned']

In [9]:
df2[df2['Neighbourhood'] == 'Not assigned']

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Not assigned

In [10]:
df2.loc[df2['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df2.loc[df2['Neighbourhood'] == 'Not assigned', 'Borough']

/home/jupyterlab/conda/lib/python3.6/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
df3 = pd.DataFrame(df2.groupby(['Postcode','Borough'])['Neighbourhood'].apply(list))

In [12]:
latlong = pd.read_csv('./Geospatial_Coordinates.csv')

In [16]:
latlong.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [17]:
latlong.columns = ['Postcode','Latitude','Longitude' ]

In [25]:
df4 = pd.merge(df3, latlong, on = 'Postcode' , how = 'left')

In [27]:
df4.head

<bound method NDFrame.head of     Postcode                                      Neighbourhood   Latitude  \
0        M1B                                   [Rouge, Malvern]  43.806686
1        M1C           [Highland Creek, Rouge Hill, Port Union]  43.784535
2        M1E                [Guildwood, Morningside, West Hill]  43.763573
3        M1G                                           [Woburn]  43.770992
4        M1H                                        [Cedarbrae]  43.773136
5        M1J                              [Scarborough Village]  43.744734
6        M1K      [East Birchmount Park, Ionview, Kennedy Park]  43.727929
7        M1L                  [Clairlea, Golden Mile, Oakridge]  43.711112
8        M1M  [Cliffcrest, Cliffside, Scarborough Village West]  43.716316
9        M1N                      [Birch Cliff, Cliffside West]  43.692657
10       M1P  [Dorset Park, Scarborough Town Centre, Wexford...  43.757410
11       M1R                                [Maryvale, Wexford]  43.750072
12       M1S                                        [Agincourt]  43.794200
13       M1T          [Clarks Corners, Sullivan, Tam O'Shanter]  43.781638
14       M1V  [Agincourt North, L'Amoreaux East, Milliken, S...  43.815252
15       M1W                                  [L'Amoreaux West]  43.799525
16       M1X                                      [Upper Rouge]  43.836125
17       M2H                                [Hillcrest Village]  43.803762
18       M2J                     [Fairview, Henry Farm, Oriole]  43.778517
19       M2K                                  [Bayview Village]  43.786947
20       M2L                         [Silver Hills, York Mills]  43.757490
21       M2M                          [Newtonbrook, Willowdale]  43.789053
22       M2N                                 [Willowdale South]  43.770120
23       M2P                                  [York Mills West]  43.752758
24       M2R                                  [Willowdale West]  43.782736
25       M3A                                        [Parkwoods]  43.753259
26       M3B                                  [Don Mills North]  43.745906
27       M3C                 [Flemingdon Park, Don Mills South]  43.725900
28       M3H  [Bathurst Manor, Downsview North, Wilson Heights]  43.754328
29       M3J                  [Northwood Park, York University]  43.767980
..       ...                                                ...        ...
73       M6C                               [Humewood-Cedarvale]  43.693781
74       M6E                              [Caledonia-Fairbanks]  43.689026
75       M6G                                         [Christie]  43.669542
76       M6H                     [Dovercourt Village, Dufferin]  43.669005
77       M6J                         [Little Portugal, Trinity]  43.647927
78       M6K     [Brockton, Exhibition Place, Parkdale Village]  43.636847
79       M6L               [Downsview, North Park, Upwood Park]  43.713756
80       M6M   [Del Ray, Keelesdale, Mount Dennis, Silverthorn]  43.691116
81       M6N                    [The Junction North, Runnymede]  43.673185
82       M6P                    [High Park, The Junction South]  43.661608
83       M6R                           [Parkdale, Roncesvalles]  43.648960
84       M6S                               [Runnymede, Swansea]  43.651571
85       M7A                                     [Queen's Park]  43.662301
86       M7R            [Canada Post Gateway Processing Centre]  43.636966
87       M7Y  [Business Reply Mail Processing Centre 969 Eas...  43.662744
88       M8V     [Humber Bay Shores, Mimico South, New Toronto]  43.605647
89       M8W                           [Alderwood, Long Branch]  43.602414
90       M8X    [The Kingsway, Montgomery Road, Old Mill North]  43.653654
91       M8Y  [Humber Bay, King's Mill Park, Kingsway Park S...  43.636258
92       M8Z  [Kingsway Park South West, Mimico NW, The Quee...  43.628841
93       M9A                                 [Islington Avenue]  43.667856
94       M9B  [Cloverdale, Islington, Martin Grove, Princess...  43.650943
95       M9C  [Bloordale Gardens, Eringate, Markland Wood, O...  43.643515
96       M9L                                    [Humber Summit]  43.756303
97       M9M                                 [Emery, Humberlea]  43.724766
98       M9N                                           [Weston]  43.706876
99       M9P                                        [Westmount]  43.696319
100      M9R  [Kingsview Village, Martin Grove Gardens, Rich...  43.688905
101      M9V  [Albion Gardens, Beaumond Heights, Humbergate,...  43.739416
102      M9W                                        [Northwest]  43.706748

     Longitude
0   -79.194353
1   -79.160497
2   -79.188711
3   -79.216917
4   -79.239476
5   -79.239476
6   -79.262029
7   -79.284577
8   -79.239476
9   -79.264848
10  -79.273304
11  -79.295849
12  -79.262029
13  -79.304302
14  -79.284577
15  -79.318389
16  -79.205636
17  -79.363452
18  -79.346556
19  -79.385975
20  -79.374714
21  -79.408493
22  -79.408493
23  -79.400049
24  -79.442259
25  -79.329656
26  -79.352188
27  -79.340923
28  -79.442259
29  -79.487262
..         ...
73  -79.428191
74  -79.453512
75  -79.422564
76  -79.442259
77  -79.419750
78  -79.428191
79  -79.490074
80  -79.476013
81  -79.487262
82  -79.464763
83  -79.456325
84  -79.484450
85  -79.389494
86  -79.615819
87  -79.321558
88  -79.501321
89  -79.543484
90  -79.506944
91  -79.498509
92  -79.520999
93  -79.532242
94  -79.554724
95  -79.577201
96  -79.565963
97  -79.532242
98  -79.518188
99  -79.532242
100 -79.554724
101 -79.588437
102 -79.594054

[103 rows x 4 columns]>